<h1>Choices</h1>
<h4>(admin-only)</h4>

<a href='<%= new_choice_path %>'>New Choice</a>

<p>This is where the Admin would see the list of all choices available in the system.  Should be filterable by Choice Type.  For each, perhaps show how many times it is considered Correct and Close.</p>

<% 	if @choices.length	%>
		<table class='table table-condensed table-striped table-hover'>
			<thead>
				<tr>
					<th>ID</th>
					<th>Choice Type</th>
					<th>Prompt</th>
					<th>Content</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
<%		@choices.each { |c| %>
				<tr>
					<td><%= c.id %></td>
					<td><%= c.choice_type %></td>
					<td><%= c.prompt %></td>
					<td><%= c.content %></td>
					<td>
						<a href='<%= choice_path(c.id) %>'>Show</a>
							| 
						<a href='<%= edit_choice_path(c.id) %>'>Edit</a>
							| 
						<a href='<%= choice_path(c.id) %>' data-method='delete'>Delete</a>
					</td>
				</tr>
<%		}	%>
			</tbody>
		</table>
<%	end  %>
