<h1>Difficulty Levels</h1>
<h4>(admin-only)</h4>

<a href='<%= difficulty_levels_path %>'>All Difficulty Levels</a>
	| 
<a href='<%= new_difficulty_level_path %>'>New Difficulty Level</a>

<p>Admins change the definition (and description) of a difficulty level.</p>

<a href='<%= difficulty_level_path(@difficulty_level.id) %>'>Show</a>
	| 
<a href='<%= difficulty_level_path(@difficulty_level.id) %>' data-method='delete'>Delete</a>

<%= simple_form_for(@difficulty_level, defaults: { input_html: { class: 'form-control' } }, html: {class: 'form-vertical' }) do | dl |	%>
    <%= dl.input :desc, input_html: {autofocus: true }		 %>
    <%= dl.submit 'Update', class: 'btn btn-primary form-button' %>
<% end %>
