<h1>Leaderboard</h1>

<ul class="nav nav-pills">
<%  if !@hour_points['sum'].empty?   %>
  <li><a href="#hour" data-toggle="tab">This Hour</a></li>
<%  end
    if !@day_points['sum'].empty? && (@day_points != @hour_points)  %>
  <li><a href="#day" data-toggle="tab">Today</a></li>
<%  end
    if !@week_points['sum'].empty? && (@week_points != @day_points)  %>
  <li><a href="#week" data-toggle="tab">This Week</a></li>
<%  end
    if !@month_points['sum'].empty? && (@month_points != @week_points)  %>
  <li><a href="#month" data-toggle="tab">This Month</a></li>
<%  end
    if !@year_points['sum'].empty? && (@year_points != @month_points) && (@all_points != @year_points) %>
  <li><a href="#year" data-toggle="tab">This Year</a></li>
<%  end   %>
  <li class="active"><a href="#all" data-toggle="tab">All Time</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="hour">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @hour_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @hour_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @hour_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="day">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @day_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @day_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @day_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="week">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @week_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @week_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @week_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="month">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @month_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>

    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @month_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @month_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="year">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @year_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @year_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @year_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade in active" id="all">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Average Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @all_points['avg'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.avg.round(2) %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>High Score</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @all_points['max'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.max %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <caption>Total Points</caption>
        <tbody>
        <%  extraNeeded = @num_leaders
          @all_points['sum'].each {|l| %>
          <tr><td><%= l.player_tag %></td><td><%= l.sum %></td></tr>
        <%    extraNeeded -= 1;
          }
          extraNeeded.times{  %>
          <tr><td>-</td><td>-</td></tr>
        <%  }   %>

        </tbody>
      </table>
    </div>
  </div>
</div>
