<%  if current_user?(@public_user)  %>
  <h1>My Progress</h1>
<%  else  %>
  <h1>Progress - <%= @public_user.player_tag %></h1>
<%  end   %>

<ul class="nav nav-pills">
<%  if !@hour_results['total_rounds'].nil?   %>
  <li><a href="#hour" data-toggle="tab">This Hour</a></li>
<%  end
    if (!@day_results['total_rounds'].nil?) &&
       (@day_results['total_rounds'] != @hour_results['total_rounds'])   %>
  <li><a href="#day" data-toggle="tab">Today</a></li>
<%  end
    if (!@week_results['total_rounds'].nil?) &&
       (@week_results['total_rounds'] != @day_results['total_rounds'])   %>
  <li><a href="#week" data-toggle="tab">This Week</a></li>
<%  end
    if (!@month_results['total_rounds'].nil?) &&
       (@month_results['total_rounds'] != @week_results['total_rounds'])   %>
  <li><a href="#month" data-toggle="tab">This Month</a></li>
<%  end
    if (!@year_results['total_rounds'].nil?) &&
       (@year_results['total_rounds'] != @month_results['total_rounds']) &&
       (@year_results['total_rounds'] != @all_results['total_rounds'])   %>
  <li><a href="#year" data-toggle="tab">This Year</a></li>
<%  end   %>
  <li class="active"><a href="#all" data-toggle="tab">All Time</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="hour">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @hour_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @hour_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @hour_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @hour_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @hour_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @hour_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @hour_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @hour_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @hour_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @hour_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @hour_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="day">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @day_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @day_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @day_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @day_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @day_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @day_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @day_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @day_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @day_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @day_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @day_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="week">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @week_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @week_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @week_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @week_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @week_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @week_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @week_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @week_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @week_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @week_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @week_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="month">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @month_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @month_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @month_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @month_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @month_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @month_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @month_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @month_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @month_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @month_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @month_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="year">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @year_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @year_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @year_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @year_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @year_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @year_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @year_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @year_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @year_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @year_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @year_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade in active" id="all">
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>High Score</td><td><%= @all_results['high_score'] %></td></tr>
          <tr><td>Average Score</td><td><%= @all_results['avg_score'] %></td></tr>
          <tr><td>Best Ranking</td><td><%= @all_results['best_rank'] %></td></tr>
          <tr><td>Average Ranking</td><td><%= @all_results['avg_rank'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Total Points</td><td><%= @all_results['total_points'] %></td></tr>
          <tr><td>Top 10% Rounds</td><td><%= @all_results['top_ten_percent_rounds'] %></td></tr>
          <tr><td>Complete Rounds</td><td><%= @all_results['complete_rounds'] %></td></tr>
          <tr><td>Partial Rounds</td><td><%= @all_results['partial_rounds'] %></td></tr>
        </tbody>
      </table>
    </div>
    <div class='col-xs-4'>
      <table class='table table-striped table-condensed table-hover'>
        <tbody>
          <tr><td>Questions Correct</td><td><%= @all_results['total_num_correct'] %></td></tr>
          <tr><td>Questions Skipped</td><td><%= @all_results['total_num_skipped'] %></td></tr>
          <tr><td>Questions Incorrect</td><td><%= @all_results['total_num_incorrect'] %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
